@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    /* Variable for storing colors */
    --primary-base-clr:#087098;
    --primary-light-clr:#1e90ff;
    --bg-clr-1:#242529;
    --bg-clr-2:#2c2d31;
    --main-heading-clr:#efefef;
    --secondary-heading-clr:#b5b5b5;
    --text-clr:#959595;
    --dark-text-clr:#888;
}

body{
   width: 100%;
   height: 100vh; 
   background-color: var(--bg-clr-2);
}

.web-container{
   width: 100%;
   height: 100%;
   max-width: 1500px;
   margin: 0px auto;
   background-color: var(--bg-clr-2);
   color: var(--main-heading-clr);
}
/* ===========Reusable Code Starts========== */
.btn{
    background-color: var(--primary-base-clr);
    color: var(--main-heading-clr);
    padding: 10px 22px;
    font-size: 15px;
    outline: none;
    border: 1px solid var(--primary-base-clr);
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover{
    background-color: transparent;
    color: var(--primary-light-clr);
    border: 1px solid var(--primary-light-clr);
}
.section-heading h1{
    position: relative;
    font-size: 26px;
    letter-spacing: 1px;
    margin-left: 60px;
    color: var(--main-heading-clr);
    margin-bottom: 20px;
}
.section-heading h1::before{
    position: absolute;
    content: "";
    width: 50px;
    height: 70%;
    background-color: var(--main-heading-clr);
    right:calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);
}
.section-heading p{
	color: var(--section-heading);
	margin-bottom: 40px;
	max-width: 700px;
}
/* ===========Reusable Code Ends========== */

/* ========== Home Section Style Starts ============ */
section.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0px 8%;
}
.home .navbar{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.home.active .navbar{
    position: fixed;
    top: 0;
    left: 0;
    padding: 0px 8%;
    background-color: var(--bg-clr-2);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.15);
    animation: animateMenu 0.6s ease-in;
}
@keyframes animateMenu{
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0px);
    }
}
.home .navbar .logo img{
    width: 120px;
    height: auto;
}
.home .navbar .nav-list{
   list-style: none;
}
.navbar .nav-list li{
   display: inline-block;
   margin: 0px 14px;
}
.navbar .nav-list li a{
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: var( --secondary-heading-clr);
    transition: color 0.3s;
}
.navbar .nav-list li a:hover{
    color: var(--primary-light-clr);
}
.navbar .contact-btn{
    padding: 8px 18px;
    letter-spacing: 1px;
}
.navbar .menu-btn{
    cursor: pointer;
    display: none;
}
.navbar .menu-btn i{
   font-size: 20px; 
}
.home .hero{
    position: relative;
    width: 100%;
    min-height: calc(100vh - 70px);  /* navbar height 70 px*/
    display: flex;
    align-items: center;
}
.home.active .hero{
    margin-top:70px ;
}
.home .hero .hero-img{
    width: 100%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-img img{
    border-radius: 50%;
}
.hero{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.home .hero .hero-text{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 50%;
    margin-right: 20px;
    z-index: 2;
}
.hero .hero-text h3{
    font-size: 20px;
    font-weight: 400;
    color: var(--main-heading-clr);
    opacity: 0.9;
}
.hero .hero-text h1{
    position: relative;
    font-size: 45px;
    color:var(--main-heading-clr);
    margin: 12px 0px 20px;
}
.hero .hero-text p{
    font-size:15px;
    max-width: 500px;
    color: var(--secondary-heading-clr);
    margin: 15px 0px 35px;
}
.hero .hero-text .type-container{
    display: flex;
    width: 300px;
    margin-bottom: 5px;
    overflow: hidden;
}
.hero-text .type-container .type-text{
    position: relative;
    font-size: 32px;
    color:var(--main-heading-clr)
}
.hero-text .type-container .text1{
    margin-right: 10px;

}
.hero-text .type-container .text2{
    color:#fc852b;
    padding-right: 3px;
}
.hero-text .type-container .text2::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: var(--bg-clr-2);
    border-left: 2px solid #fc852b;
    animation: animationOne 5s steps(5) infinite;
}
@keyframes animationOne{
   3%{
    left: 0%;
   }
   30%{
    left: 100%;
   }
   80%{
    left: 100%;
   }
   100%{
    left: 0%;
   }
}
/* ========== Home Section Style Ends ============ */
section.about{
    padding:70px 8% 50px;
    background-color: var(--bg-clr-1);
}
.about .about-contents{
    display: flex;
    justify-content: space-between;
}
.about-contents .about-info{
    flex-basis: 55%;
}
.about-contents .about-info p{
    color: var(--text-clr);
    margin-bottom: 25px;
}
.about-personal-info{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px 20px;
}
.about-personal-info div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about-personal-info div span{
    color: var(--text-clr);
    letter-spacing: 1px;
    word-wrap: break-all;
}
.about-info .social-media{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}
.about-info .social-media a{
    width: 35px;
    height: 35px;
    text-decoration: none;
    text-align: center;
    margin-right: 15px;
    border-radius: 50%;
    background-color: var(--primary-base-clr);
    transition: 0.3s;
}
.about-info .social-media a i{
    color: var(--main-heading-clr);
    font-size: 16px;
    line-height: 35px;
    border:1px solid transparent;
    transition: 0.3s;
}
.about-info .social-media a:hover{
    transform: translateY(-5px);
    background-color: transparent;
    color: var(--primary-light-clr);
    border:1px solid var(--primary-light-clr)
}
.about-info .social-media a:hover i{
    color: var(--primary-light-clr);
}
.about-contents .about-experience{
    position: relative;
    flex-basis: 40%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
}
.about-experience .experience-box{
    background-color: var(--bg-clr-2);
    height: 70px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.15);
}
.about-experience .experience-box .icon{
    display: inline-block;
    background-color: var(--primary-base-clr);
    min-width:50px ;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-experience .experience-box .icon i{
    font-size: 20px;
    color: var(--main-heading-clr);
}
/* ========== About Section Style Ends ============ */

/* ========== Skills Section Style Start ============ */
section.skills{
    width: 100%;
    padding: 50px 8%;
    background-color: var(--bg-clr-1);
}
.skills .skills-contents{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px 80px;
}
.skills-contents .skill-box .skill-name{
    font-size: 17px;
    color: var(--secondary-heading-clr);
    padding-bottom: 12px;
    text-decoration: uppercase;
    letter-spacing: 1px;
}
.skill-box .progress-bar{
    width: 100%;
    height: 16px;
    background-color: var(--bg-clr-2);
}
.skill-box .progress-bar .progress-value{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--primary-base-clr);
}

/* ========== Skills Section Style Ends ============ */




















/* ========== About Section Style Ends ============ */
/*=========== Media Query Starts ===============*/
@media(max-width:968px){}

@media(max-width:868px){
    /*Home Section*/
    .home .hero{
        flex-direction: column-reverse;
        padding-bottom: 70px;
    }
    .home .hero .hero-img{
        flex-basis: 100%;
        margin-top: 30px;
    }
    .home .hero .hero-text{
        flex-basis: 100%;
        margin-top: 40px;
        margin-right: 0px;
        align-self: flex-start;
    }
    .navbar .menu-btn{
        display: block;
        margin-left: 40px;
        z-index:101;
    }
    .home .navbar .nav-list{
        position: fixed;
        width: 100%;
        height: 100vh;
        top:0;
        right:-100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: var(--bg-clr-1);
        transition: right 0.3s cubic-bezier(1,0.4,0.4,1);
        z-index: 100;
    }
    .navbar .nav-list li{
        margin: 25px 0px 0px;
    }
    .home .navbar .nav-list.active{
        right: 0;
    }
    .navbar .nav-list li:nth-child(1){
        margin-top:180px;
    }
    .navbar .nav-list li a{
        font-size: 20px;
        letter-spacing: 2px;

    }
    .navbar .contact-btn-wrapper{
        margin-left: auto;
    }
}

@media(max-width:768px){
    /* About Section */
    .about .about-contents{
        flex-direction:column ;
    }
    .about-contents .about-info{
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    .about-contents .about-experience{
        flex-basis: 100%;
    }
}

@media(max-width:668px){}

/*=========== Media Query Starts ===============*/